{% extends "base.html" %}
{% block content %}

<div class="header">
  <h3 class="mb-3">🛠️ My SW Idea Manage</h3>

  <a href="{% url 'myIdeas:ideas_create' %}" class="btn idea_create_btn" style="color: rgb(86, 146, 249);">
    아이디어 등록
  </a>
  <span class="header-divider">|</span>
  <a href="{% url 'myIdeas:ideas_list' %}" class="btn idea_update_btn">
    아이디어 관리
  </a>
  <span class="header-divider">|</span>
  <a href="{% url 'myIdeas:devtool_create' %}" class="btn devtool_create_btn">
    개발툴 등록
  </a>
  <span class="header-divider">|</span>
  <a href="{% url 'myIdeas:devtool_list' %}" class="btn devtool_update_btn">
    개발툴 관리
  </a>
</div>

<h1> 아이디어 작성 </h1>

<form class="idea-form" method="post" enctype="multipart/form-data">
  {% csrf_token %}

  {{ form.as_p }}

  <button type="submit">저장</button>
</form>

{% endblock %}
