.idea-detail-header{text-align: center; color: gray; margin: 0 0; padding: 20px 20px; align-content: center;}
.idea-detail-body{display: flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-start;}
.idea-detail-body .idea-image img{width: 300px; margin: 30px 30px;}
.idea-detail-body .idea-title{font-size: 40px;}
.idea-detail-body .idea-info{background-color: aliceblue; width: 600px; margin: 30px 30px; padding: 20px; border: 2px; border-color: black;}
.idea-detail-body .idea-info .idea-content{background-color: beige; width: 100%; height: 90px; padding: 10px 10px;}

.idea-title{}
